# Renomeie este arquivo para .env e preencha com suas credenciais
MONGODB_URI="mongodb+srv://<usuario>:<senha>@<cluster>.mongodb.net/<database>"
OLLAMA_BASE_URL="http://localhost:11434"
DB_NAME="banco_inter"
